<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>${Title}</title>
    ${self.doc_head()}
</head>
<body>

    <div class="uk-container">
        <div clss="uk-card uk-card-body uk-card-primary">
            <h3 class="uk-card-title">Example headline</h3>
            <botton class="uk-button uk-botton-default uk-tooltip="title:Hello World">hover</botton>
        </div>
    </div>
    ${ self.bottom_script() }
</body>

</html>

<link rel="stylesheet" href="/static/css/uikit.min.css"/>