<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/pure-min.css">
</head>
<body>
<div id="layout" class="pure-g">    
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Welcome to DJ-Blog</h1>
            <h2 class="brand-tagline">Share your life and fun</h2>
    
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io">GitHub</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div class="nav-container">
            <nav class="home-menu pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="/">
                    <span class="title">我的博客</span>
                </a>
                <ul class="pure-menu-list clearfix">
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">首页</a></li>
                    <li class="pure-menu-item"><a href="/archives" class="pure-menu-link">归档</a></li>
                    <li class="pure-menu-item"><a href="/tags" class="pure-menu-link">标签</a></li>
                    <li class="pure-menu-item"><a href="/search" class="pure-menu-link">搜索</a></li>
                    <li class="pure-menu-item"><a href="/page/aboutme" class="pure-menu-link">关于</a></li>
                    <li class="pure-menu-item"><a href="/atom.xml" class="pure-menu-link">订阅</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <div class="posts">
                <h1 class="content-subhead">recent posts</h1>

                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">post-title</h2>
                    </header>
                    <div class="post-discription">
                        <p>
                            欢迎大家来到DJ-Blog，在这里你可以记录你的日常生活，分享你的快乐。
                        </p>
                    </div>
                </section>

                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">post-title</h2>
                    </header>
                    <div class="post-discription">
                        <p>
                            欢迎大家来到DJ-Blog，在这里你可以记录你的日常生活，分享你的快乐。
                        </p>
                    </div>
                </section>

                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">post-title</h2>
                    </header>
                    <div class="post-discription">
                        <p>
                            欢迎大家来到DJ-Blog，在这里你可以记录你的日常生活，分享你的快乐。
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer">
            <div class="pure-menu pure-menu-horizontal">
                <ul>
                    <li class="pure-menu-item"><a href="#">about</a></li>
                    <li class="pure-menu-item"><a href="#">help</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>




    
</body>
</html>