{{define "create"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/post/store" method="post">
      <label>
            Title:
            <input type="text" name="title">
      </label>
        <br>
        <label>
                Tag:
                <input type="text" name="tag">
        </label>
        <br>
      <label>
            Content:
            <textarea name="content" cols="30" rows="10">
            </textarea>
      </label>
      <input type="submit" value="提交">
  </form>
</body>
</html>
{{end}}