{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/login" method="post">
        <label>
            Username:
                <input type="text" name="username">
        </label>
        <br>
        <label>
                  Password:
                     <input type="password" name="password">
        </label>
        <br>
        <input type="submit" value="提交">
    </form>
    <br>
    <a href="/user/github/login">login by github</a>
</body>
</html>
{{end}}