<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="../../static/css/pure-min.css">
    <link rel="stylesheet" href="../../static/css/email-style.css">
</head>
<body>
    <div id="layout" class="content pure-g">
        <div id="nav" class="pure-u">
            <a href="#" id="menuLink" class="nav-menu-button">Menu</a>
    
            <div class="nav-inner">
                <button class="primary-button pure-button"><a href="#">Back</a></button>
    
                <div class="pure-menu">
                    <ul class="pure-menu-list">                    
                        <li class="pure-menu-heading">Labels</li>
                        <li class="pure-menu-item"><span class="email-label-personal"></span>Personal</a></li>
                        <li class="pure-menu-item"><span class="email-label-work"></span>Work</a></li>
                        <li class="pure-menu-item"><span class="email-label-travel"></span>Travel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>