{{define "update"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/post/update" method="post">
    <input type="hidden" name="id" value="{{.post.Id}}" readonly>
    <label>
        Title:
        <input type="text" name="title" value="{{.post.Title}}">
    </label>
    <br>
    <label>
        Tag:
        <input type="text" name="tag" value="{{.post.Tag}}">
    </label>
    <br>
    <label>
        Content:
        <textarea name="content" cols="30" rows="10">
            {{.post.Content}}
            </textarea>
    </label>
    <input type="submit" value="提交">
</form>
</body>
</html>
{{end}}